
<div class="card">
    <div class="card-header p-b-0">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="feather icon-user-plus"></i>{{translation.Room_New_Room}}</h4>
                <span class="text-pink m-l-30">{{ translation.Room_Required}}</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="/rooms">
                    <h5><i class="feather icon-arrow-left"></i> {{ translation.Room_Back_to_Rooms}}</h5>
                </a>
            </div>
        </div>
        <hr/>
    </div>
<form method="post" action="" id="frm" >

    <input type="hidden" id='id'>

    <div class="card-block">
        <div class="form-group row">
            <label class="col-sm-2">{{translation.Room_Floor}}</label>
            <div class="col-sm-10">
                <select name="room_floor" id="room_floor" class="form-control">
                    <option value="0">Choose Floors</option>
                    {{!-- data.floor --}}
                </select>
                <span class="messages"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Room_Room_Name}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="">
                <span class="messages"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ translation.Room_Room_Number}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="number" id="number" placeholder="">
                <span class="messages"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Room_Price}}</label>
            <div class="col-sm-10">
                <select name="price" id="price" class="form-control">
                    <option value="0">Choose Prices</option>
                     {{!-- data.price --}}
                </select>
                <span class="messages"></span>
            </div>
        </div>
        

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Room_Facility}}</label>
            <div class="col-sm-10" id="facility">
                    {{!-- data.facility --}}
                <span class="messages"></span>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Room_Description}}</label>
            <div class="col-sm-10">
                <textarea class="form-control" id='description'></textarea>
                <span class="messages"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label ">{{translation.Room_Photo}}</label>
            <div class="col-sm-10 text-center ">
                    <input type="file" name="files[]" id="filer_input" multiple="">
                <span class="messages"></span>
            </div>
        </div>
     
        <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10 text-right">
            <button id='cancel' class="btn btn-danger m-b-0">{{translation.Cancel}}</button>
            <button type="submit" id="submit" class="btn btn-primary m-b-0">{{translation.Submit}}</button>
        </div>
	</div>
    </form>
</div>

<script>
$(document).ready(function(){
    
    old_data();

    $("#submit").click(function(){

          var id = getUrlParameter('id');
          var data_ajax={};
          event.preventDefault();
          data_ajax.name = $("#name").val();
          data_ajax.number = $("#number").val();
          data_ajax.description = $("#description").val();
          data_ajax.floor_id = $('#room_floor').find(":selected").val();
          data_ajax.rental_price_id = $('#price').find(":selected").val();
		 
         var get_facility = "";
         $('#facility :checked').each(function(i){
            get_facility += $(this).val() + ","
         })
         data_ajax.facility_id = get_facility;
        

        var image = $("#filer_input").val();
        data_ajax.file_data = "";
        data_ajax.file_name = "";
        if(image != ""){
            const image_file = document.querySelector('#filer_input').files[0];
            data_ajax.file_name = image_file.name;
            toBase64(image_file)
            .then(
            (res)=>{
                data_ajax.file_data = res; 
                 $.ajax({
                    url:"/api/room/edit/"+id,
                    method:"post",
                    dataType:'json',
                    data: data_ajax,
                    success: function(res){
                         
                          new PNotify({
                                title: 'Edit Success',
                                icon: 'icofont icofont-info-circle',
                                type: 'success',
                                delay: 500,
                                after_close: function(){
                                    history.pushState('/rooms/edit', '','/rooms');
                                    location.reload(); 
                                }
                            });          
                    },
                    error:function(response){
                        new PNotify({
                            title: 'Server Error',
                            icon: 'icofont icofont-info-circle',
                            type: 'error'
                        });
                    }
                }) //end  
            }).catch((err)=>{alert(err)}); //end if

        }else{
             $.ajax({
                url:"/api/room/edit/"+id,
                method:"post",
                dataType:'json',
                data: data_ajax,
                success: function(res){
                    new PNotify({
                        title: 'Edit Success',
                        icon: 'icofont icofont-info-circle',
                        type: 'success',
                        delay: 500,
                        after_close: function(){
                            history.pushState('/rooms/edit', '','/rooms');
                            location.reload(); 
                        }
                    });        
                },
                error:function(response){
                    new PNotify({
                        title: 'Server Error',
                        icon: 'icofont icofont-info-circle',
                        type: 'error'
                    });
                }
            }) //end  
        }      
    })
          
     $("#cancel").click(function(){
       // window.location.href = "/customers/dependent";
        history.pushState('/rooms/edit', '','/rooms');
        location.reload(); 
    })//end cancel


    function floor_append(floor_id){
        var data = {};
        try{
         $.ajax({
            url:"/api/room/floor/view",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                //console.log(res.rows);
                var temp = "";
              
                    $.each(res.rows,function(index,data){
                        temp += '<option value="'+data.id+'">'+data.name+'</option>'      
                    })
                     $("#room_floor").append(temp);
                     //set default
                     $('#room_floor').val(floor_id);

              
                    //alert('task sucessfull');
            },
            error:function(response){
                new PNotify({
                    title: 'Server Error',
                    icon: 'icofont icofont-info-circle',
                    type: 'error'
                });
            }
         });//end ajax
        }catch(error) {
		   	console.error(error);
     	}
      
    } //function

    function facility_append(facility_id){
        
        var data = {};
       try{ 
         $.ajax({
            url:"/api/room/facility/view",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
               
                var temp = "";
                
                    $.each(res.rows,function(index,data){

                            temp += '<div class="checkbox-fade fade-in-primary">'
                            temp +=   ' <label>'
                            temp +=        '<input type="checkbox" id="facility" name="facility" value="'+data.id+'">'
                            temp +=        '<span class="cr">'
                            temp +=       '      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>'
                            temp +=      ' </span>'
                            temp +=     '  <span>'+data.name+'</span>'
                            temp +=  ' </label>'
                            temp += '</div><br>'

                    })
                    $("#facility").append(temp);
                    

                    for(var i=0 ; i<facility_id.length ; i++){
                        var select_id = 1
                        var $append = "$('#facility[value=select_id]')";
                        $('#facility[value="'+facility_id[i]+'"]').attr('checked', true);
                    }
    
              
                    //alert('task sucessfull');
            },
            error:function(response){
                new PNotify({
                    title: 'Server Error',
                    icon: 'icofont icofont-info-circle',
                    type: 'error'
                });
            }
         });//end ajax
        }catch(error) {
		   	console.error(error);
     	}
    } //function

    function price_append(price_id){
        var data = {};
       try{  
         $.ajax({
            url:"/api/room/append/price",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                //console.log(res.rows);
                var temp = "";
                
                    $.each(res.rows,function(index,data){
                        data.price =  parseFloat(data.price).toFixed(2);
                        temp += '<option value="'+data.id+'">'+data.price+' USD /'+data.unit+'</option>'      
                    })
                    $("#price").append(temp);
                     $('#price').val(price_id);
               
                    //alert('task sucessfull');
                },
                error:function(response){
                    new PNotify({
                        title: 'Server Error',
                        icon: 'icofont icofont-info-circle',
                        type: 'error'
                    });
                }
         });//end ajax
        }catch(error) {
		   	console.error(error);
     	}
    } //function

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
       }
    return false;
   }//end function

    function old_data(){
        var id = getUrlParameter('id');
        var data = {};   
        try{ 
          $.ajax({
            url: '/api/room/edit/'+id, 
            type: 'GET',
            contentType: 'application/json', 
            data: JSON.stringify(data),
            success: function(res){
               
              const data = res.rows[0];
              //console.log(data)
              $('#id').val(id);
              $("#name").val(data.name)
              $("#number").val( data.number)
              $("#description").val( data.description)
                floor_append(data.floor_id);
                price_append(data.rental_price_id);
                facility_append(data.facility_id);
                if(data.FileData != "" && data.FileName != ""){
                    var file = dataURLtoFile(data.FileData,data.FileName)
                    //console.log(file.name);
                    var photo_name = ""+file.name;
                    var photo_size = ""+file.size;
                    var photo_type = ""+file.type;

                    append_photo(photo_name,photo_size,photo_type);
                }
             
            }
           });//end ajax
          }catch(error) {
		   	console.error(error);
     	 }
    }

    const toBase64 = file => new Promise((resolve, reject) => {
	    const reader = new FileReader();
	    reader.readAsDataURL(file);
	    reader.onload = () => resolve(reader.result);
	    reader.onerror = error => reject(error);
	});
    
    function append_photo(name,size,type){
           
        var description = '<span>1 files were chosen</span>'

        var temp = '<div class="jFiler-items jFiler-row">'
            temp += '<ul class="jFiler-items-list jFiler-items-default">'
            temp +=' <li class="jFiler-item" data-jfiler-index="0" style="">'
            temp += '<div class="jFiler-item-container">'
            temp +=  '<div class="jFiler-item-inner">'
            temp +=           '<div class="jFiler-item-icon pull-left">'
            temp +=                '<i class="icon-jfi-file-o jfi-file-type-image jfi-file-ext-jpg"></i>'
            temp +=   ' </div>'
            temp +=    '<div class="jFiler-item-info pull-left">'
            temp +=          '  <div class="jFiler-item-title" title="'+name+'">'+name+'</div>'
            temp +=           ' <div class="jFiler-item-others"> '
            temp +=                '<span>size: '+size+'</span>'
            temp +=               ' <span>type: '+type+'</span>'
            temp +=               ' <span class="jFiler-item-status"></span>'
            temp +=           ' </div>'
            temp +=   ' <div class="jFiler-item-assets">'
            temp +=           ' <ul class="list-inline">'
            temp +=               ' <li>'
            temp +=                  ' <a class="icon-jfi-trash jFiler-item-trash-action"></a>'
            temp +=                '</li>'
            temp +=            '</ul>'
            temp +=   ' </div>'
            temp +=     ' </div>'
            temp +=    '</div>'
            temp += '</div>'
            temp += '</li></div></ul>'


        
      //  $('ul.jFiler-items-list').append(temp);
        $('.jFiler-input').after(temp);
        $('.jFiler-input-caption').html(description);

    }
    function dataURLtoFile(dataurl, filename) {
		var arr = dataurl.split(','),
		mime = arr[0].match(/:(.*?);/)[1],
		bstr = atob(arr[1]), 
		n = bstr.length, 
		u8arr = new Uint8Array(n);
		
		while(n--){
		u8arr[n] = bstr.charCodeAt(n);
		}
    return new File([u8arr], filename, {type:mime});
    }

}) //end ajax
</script>








               