<div class="card">
    <div class="card-header p-b-0">
        <div class="row">
            <div class="col-md-6">
            <h4><i class="feather icon-user-plus"></i> {{translation.Edit_Expense}}</h4>
                <span class="text-pink m-l-30">{{translation.Field_required}}</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="/expenses">
                    <h5><i class="feather icon-arrow-left"></i> {{translation.Exp_Back_to_Expense}}</h5>
                </a>
            </div>
        </div>
        <hr/>
    </div>
    <form action="" name="registration" id="registration">
        <div class="card-block"> 
            <div class="panel panel-success border">
                <div class="panel-heading bg-inverse">
               {{translation.Expense_Payment}}
                </div>
                <div class="panel-body p-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{translation.Er_Date}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="date" id="date">
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-danger">{{translation.Exp_Amount}}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="amount" id="amount" placeholder="">
                                    <div class="input-group-prepend bg-inverse">    
                                        <span class="input-group-text m-3"><label class="m-t-10">$</label></span>
                                    </div>
                                </div>
                                <span class="messages"></span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-12 col-form-label text-danger">{{translation.Exp_Payment_Type}}</label>
                                <div class="col-sm-12">
                                    <select name="payment_type" name="payment_type" id="payment_type" class="form-control">
                                        <option value="0" selected="" disabled="">{{translation.Exp_Choose_Payment_Type}}</option>
                                        
                                    </select>
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label">{{translation.Exp_Payment_Form}}</label>
                                <div class="col-sm-12">
                                    <select name="payment_form" id="payment_form" class="form-control">
                                        <option value="0" selected="" disabled="">{{translation.Exp_Choose_Payment_Form}}</option>
                                        
                                    </select>
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{translation.Er_form_buget}}</label>
                                <div class="col-sm-10">
                                <select name="budget" id="budget" class="form-control">
                                        <option value="0">{{translation.Exp_Choose_Budget}}</option>

                                    </select>
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success border m-t-10">
                <div class="panel-heading bg-inverse">
                    {{translation.Exp_Memo_Note}}
                </div>
                <div class="panel-body p-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-danger">{{translation.Exp_Category}}</label>
                                <div class="col-sm-10">
                                    <select name="category" id="category" class="calegory_search single_search_select select2-hidden-accessible" tabindex="-1" aria-hidden="true" >
                                        <option value="0" selected="" disabled="">{{translation.Exp_Choose_Category}}</option>
                                    
                                    </select>
                                    <span name="category" id="category"  class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{translation.Exp_Expense_Note}}</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" placeholder="" name="expenses_note" id="expenses_note"></textarea>
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label ">{{translation.Exp_File}}</label>
                                <div class="col-sm-10 text-center" id="file_upload">
                                       <input type="file" name="files[]" id="file_data" multiple="multiple">
                                    <span class="messages"></span>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success border m-t-10">
                <div class="panel-heading bg-inverse">
                    {{translation.Exp_Validator}}
                </div>
                <div class="panel-body p-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{translation.Exp_Request_By}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="request_by" name="request_by">
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{translation.Exp_Approve_By}}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="approved_by" name="approved_by">
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-15">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10 text-right">
                        <a href="/expenses" type="button"class="btn btn-danger m-b-0">{{translation.Cancel}}</a>
                        <button type="submit"class="btn btn-inverse m-b-0" id="submitbtn">{{translation.Submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
   
    $(document).ready(function(){
        $('input[name="date"]').daterangepicker({
            "singleDatePicker": true,
            "showDropdowns": true,       
            "autoUpdateInput": false
    });

    $('input[name="date"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD'));
    });
        getdata();
        budget();
        payment_type();
        category();
        payment_form();
        var form = $("#registration");
        form.on("submit", function (event) {
            if(!form.valid()) {
                return false; 
            }
            event.preventDefault();
            var data_ajax = {};
            var id = getUrlParameter('id');
            data_ajax.date = $("#date").val();
            data_ajax.amount = $("#amount").val();
            data_ajax.expense_note =$("#expenses_note").val();
            data_ajax.request_by =$("#request_by").val();
            data_ajax.approved_by =$("#approved_by").val();
            data_ajax.budget_id = $("#budget").find(":selected").val();
            data_ajax.payment_type_id =$("#payment_type").find(":selected").val();
            data_ajax.payment_form_id =$("#payment_form").find(":selected").val();
            data_ajax.category_id =$("#category").find(":selected").val();
           // data_ajax.category_id =$("#filer_input").val();

           var file = $("#file_data").val();
                data_ajax.file_data = "";
                data_ajax.file_name = "";

            if(file != ""){
                const data_name_file = document.querySelector('#file_data').files[0];
                data_ajax.file_name = data_name_file.name;
                toBase64(data_name_file)// convert to base64
                .then(
                (res)=>{
                    data_ajax.file_data = res; 
                    $.ajax({
                        url:"/api/expenses/edit/"+id,
                        method:"POST",
                        dataType: "json",
                        data:data_ajax,
                        success:function(res){
                         alert("succes update")
                        },
                        error:function(response){
                        alert('server error occured')
                        }
                    }); //end ajax 
                  }).catch((err)=>{alert(err)});
            }else{
                  $.ajax({
                       url:"/api/expenses/edit/"+id,
                        method:"POST",
                        dataType: "json",
                        data:data_ajax,
                        success:function(res){
                            alert("success")
                        },
                        error:function(response){
                        alert('server error occured')
                        }
                    }); //end ajax 
            }
        });//end_submit
            
 });//end_decument

        function getdata(){
          var id = getUrlParameter('id');
          var data = {};   
          $.ajax({
            url: '/api/expenses/edit/'+id, 
            type: 'GET',
            contentType: 'application/json', 
            data: JSON.stringify(data),
            success: function(res) {
                console.log(res)
              const data = res.rows[0];
                    $('#id').val(id);
                    $("#date").val(data.ex_date);
                    
                    $("#amount").val(data.Amount);
                    $("#expenses_note").val(data.expense_note);
                    $("#request_by").val(data.request_by); 
                    $("#approved_by").val(data.approved_by);
                    //payment_type append
                    var data_payment_type = "";
                    $.each(res.rows,function(index,data){
                        data_payment_type += '<option value="'+data.pay_t_id+'"selected>'+data.paymentype_name+'</option>'      
                    })
                    $("#payment_type").append(data_payment_type);
                    //payment_form append
                    var data_payment_form = "";
                    $.each(res.rows,function(index,data){
                        data_payment_form += '<option value="'+data.pay_f_id+'"selected>'+data.paymentform_name+'</option>'      
                    })
                    $("#payment_form").append(data_payment_form );
                    
                    //budget_append
                    var data_budget = "";
                    $.each(res.rows,function(index,data){
                        data_budget += '<option value="'+data.bud_id+'"selected>'+data.budget_name+'</option>'      
                    });
                    $("#budget").append(data_budget);
                    //payment_Category append
                    var data_category = "";
                    $.each(res.rows,function(index,data){
                       data_category += '<option value="'+data.cat_id+'"selected>'+data.categories_name+'</option>'      
                    });
                    $("#category").append(data_category);
            
                if(data.FileData != "" && data.FileName != ""){
                      var file = dataURLtoFile(data.FileData,data.FileName)
                      //console.log(file.name);
                      var file_name = ""+file.name;
                      var file_size = ""+file.size;
                      var file_type = ""+file.type;

                      append_file(file_name,file_size,file_type);
                  }
            }
          });//end ajax
        }//end function 

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
       }
    return false;
   }//end function
    const toBase64 = file => new Promise((resolve, reject) => {
	    const reader = new FileReader();
	    reader.readAsDataURL(file);
	    reader.onload = () => resolve(reader.result);
	    reader.onerror = error => reject(error);
	});
    function append_file(name,size,type){  
        var description = '<span>1 files were chosen</span>'
        var temp = '<div class="jFiler-items jFiler-row">'
            temp += '<ul class="jFiler-items-list jFiler-items-default">'
            temp +=' <li class="jFiler-item" data-jfiler-index="0" style="">'
            temp += '<div class="jFiler-item-container">'
            temp +=  '<div class="jFiler-item-inner">'
            temp +=           '<div class="jFiler-item-icon pull-left">'
            temp +=                '<i class="icon-jfi-file-o jfi-file-type-image jfi-file-ext-jpg"></i>'
            temp +=   ' </div>'
            temp +=    '<div class="jFiler-item-info pull-left">'
            temp +=          '  <div class="jFiler-item-title" title="'+name+'">'+name+'</div>'
            temp +=           ' <div class="jFiler-item-others"> '
            temp +=                '<span>size: '+size+'</span>'
            temp +=               ' <span>type: '+type+'</span>'
            temp +=               ' <span class="jFiler-item-status"></span>'
            temp +=           ' </div>'
            temp +=   ' <div class="jFiler-item-assets">'
            temp +=           ' <ul class="list-inline">'
            temp +=               ' <li>'
            temp +=                  ' <a class="icon-jfi-trash jFiler-item-trash-action"></a>'
            temp +=                '</li>'
            temp +=            '</ul>'
            temp +=   ' </div>'
            temp +=     ' </div>'
            temp +=    '</div>'
            temp += '</div>'
            temp += '</li></div></ul>'
      //  $('ul.jFiler-items-list').append(temp);
        $('.jFiler-input').after(temp);
        $('.jFiler-input-caption').html(description);

    }
    function dataURLtoFile(dataurl, filename) {
		var arr = dataurl.split(','),
		mime = arr[0].match(/:(.*?);/)[1],
		bstr = atob(arr[1]), 
		n = bstr.length, 
		u8arr = new Uint8Array(n);
		
		while(n--){
		u8arr[n] = bstr.charCodeAt(n);
		}
    return new File([u8arr], filename, {type:mime});
    }
     function budget(){
        var data = {};
         $.ajax({
            url:"/api/expenses/budget",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                var temp = "";
                    $.each(res.rows,function(index,data){
                        temp += '<option value="'+data.id+'">'+data.name+'</option>'      
                    })
                    $("#budget").append(temp);
            },
            error:function(respone){
                 alert('server error occured');
            }
        });//end ajax
    }
    function payment_type(){
            var data = {};
            $.ajax({
            url:"/api/expenses/payment_type",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                var temp = "";
                    $.each(res.rows,function(index,data){
                        temp += '<option value="'+data.id+'">'+data.name+'</option>'    
                    });
                    $("#payment_type").append(temp);
            },
            error:function(res){
            alert('server error occured');
            }
        });//end ajax 
    }//end_payment_type
    function payment_form(){
         var data = {};
         $.ajax({
            url:"/api/expenses/payment_form",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                var temp = "";
                $.each(res.rows,function(index,data){
                    temp += '<option value="'+data.id+'">'+data.name+'</option>'    
                })
                $("#payment_form").append(temp);
            },
            error:function(res){
            alert('server error occured');
            }
        });//end ajax 
    }//end_fun_payment_form

    function category(){
        var data= {};
        $.ajax({
            url:"/api/expenses/category",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
                var temp = "";
                $.each(res.rows,function(index,data){
                    temp += '<option value="'+data.id+'">'+data.name+'</option>'    
                })
                $("#category").append(temp);
            },
            error:function(res){
            alert('server error occured');
            }
        });
    }
</script>
