<div class="card">
    <div class="card-header p-b-0">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="feather icon-user-plus"></i>{{translation.Pro_New_Property}}</h4>
                <span class="text-pink m-l-30">{{translation.Pro_Requied}}</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="/customers/property">
                    <h5><i class="feather icon-arrow-left"></i> {{translation.Pro_Back_to_Property}}</h5>
                </a>
            </div>
        </div>
        <hr/>
    </div>

    <form action="" name="registration" id="registration">
    <div class="card-block">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">{{translation.Pro_Tenant}}</label>
                    <div class="col-sm-12">
                        <select class="single_search_select select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="customer_id" name="customer_id" >
                            <option value="0">{{translation.Pro_Choose_Tenant}}</option>
                            {{!-- <option value="1">Sok Dara</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">Peter</option>
                            <option value="WY">Hanry Die</option>
                            <option value="WY">John Doe</option> --}}
                        </select>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1"><label class="col-form-label">{{translation.Pro_or}}</label></div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">{{translation.Pro_Tenant_Dependent}}</label>
                    <div class="col-sm-12">
                        <select class="single_search_select select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="dependent_id" name="dependent_id" >
                            <option value="0">{{translation.Pro_Choose_Tenant_Dependent}}</option>
                        </select>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-danger">{{translation.Pro_Item_Name}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="item_name" id="name" placeholder="">
                <span class="messages"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-danger">{{translation.Pro_Qty}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="qty" id="qty" placeholder="">
                <span class="messages"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Pro_Description}}</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description"></textarea>
                <span class="messages"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{translation.Pro_Photo}}</label>
            <div class="col-sm-10">
                <input type="file" name="files[]" id="filer_input" multiple="multiple">
                <span class="messages"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10 text-right">
                <button id="cancel" type="reset" class="btn btn-danger m-b-0">{{translation.Pro_Cancel}}</button>
                <button id="submit" type="submit" class="btn btn-inverse m-b-0">{{translation.Pro_Submit}}</button>
            </div>
        </div>
    </div>
  </form>
</div>
<script type="text/javascript">
        
$(document).ready(function(){  
var delete_file_data = 0;
var delete_id =0;

    get_data(); 

$(document).on('click','#detele_old',function(){
      
    $('.jFiler-items').hide();
    $('.jFiler-input-caption').html('Input file here');
        
      delete_id = $(this).attr('name');
      delete_file_data = 1;
})
   var form = $("#registration");
       
    form.on("submit", function (event) {

        if(!form.valid()) {
            return false; 
        }     
        var id = getUrlParameter('id');
        event.preventDefault();
        var data_ajax={};

                data_ajax.name = $("#name").val();
                data_ajax.qty = $("#qty").val();
                data_ajax.description = $("#description").val();
                data_ajax.customer_id = $("#customer_id").find(":selected").val();
                data_ajax.dependent_id =$('#dependent_id').find(":selected").val();
        
                var image = $("#filer_input").val();
                data_ajax.file_data = "";
                data_ajax.file_name = ""; 

            if(image != ""){
                const image_file = document.querySelector('#filer_input').files[0];
                data_ajax.file_name = image_file.name;
                toBase64(image_file)
                .then(
                 async (res)=>{
                     
                      data_ajax.file_data = await resizeImage(res); 
                    $.ajax({
                        url: '/api/property/edit/'+id, 
                        method:"POST",
                        dataType: "json",
                        data:data_ajax,
                        success:function(res){
                           
                            new PNotify({
                                title: 'Edit success',
                                icon: 'icofont icofont-info-circle',
                                type: 'success',
                                delay: 500,
                                after_close: function(){
                                    
                                    history.pushState('/customers/property/edit', '','/customers/property');
                                    location.reload(); 

                                }
                            });                  
                        },
                        error:function(response){
                            new PNotify({
                                title: 'Server Error',
                                icon: 'icofont icofont-info-circle',
                                type: 'error'
                            });
                        }
                    }) //end ajax 
                     
                }).catch((err)=>{alert(err)});
          }else{

            if(delete_file_data ==1){
               delete_file(delete_id);
            } 

               $.ajax({
                url: '/api/property/edit/'+id, 
                method:"POST",
                dataType: "json",
                data:data_ajax,
                success:function(res){
                    
                            new PNotify({
                                title: 'Edit success',
                                icon: 'icofont icofont-info-circle',
                                type: 'success',
                                delay: 500,
                                after_close: function(){
                                    
                                    history.pushState('/customers/property/edit', '','/customers/property');
                                    location.reload(); 
                                    
                                }
                            });     
                   
                },
                error:function(response){
                    new PNotify({
                        title: 'Server Error',
                        icon: 'icofont icofont-info-circle',
                        type: 'error'
                    });
                }
            }) //end ajax 
              
          }       
        })//end submit request

       $("#cancel").click(function(){
           history.pushState('/customers/property/edit', '','/customers/property');
           location.reload(); 
       })//end cancel
        
  
})//end


function append_customer(customer_selected){
    var data = {};
        $.ajax({
            url:"/api/customers/view",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
           
                    var temp = "";
                    
                        $.each(res.rows,function(index,data){
                            temp += '<option value="'+data.customer_id+'">'+data.full_name+'</option>'      
                        })
                        $("#customer_id").append(temp);
                        $("#customer_id").val(customer_selected);
                    
              
             },
            error:function(res){
                alert('server error occured');
            }
    });//end ajax
} //function

function append_dependent(dependent_selected){
    var data = {};
        $.ajax({
            url:"/api/dependent/view",
            type: 'GET',
            dataType:'json',
            data: JSON.stringify(data),
            success: function(res) {
            
                var temp = "";
              
                    $.each(res.rows,function(index,data){
                        temp += '<option value="'+data.dependent_id+'">'+data.full_name+'</option>'      
                    })
                    $("#dependent_id").append(temp);
                    $("#dependent_id").val(dependent_selected);
               
            },
            error:function(res){
                alert('server error occured');
            }
    });//end ajax
} //function

function get_data(){

    var id = getUrlParameter('id');
    var data = {};   
    $.ajax({
        url: '/api/property/edit/'+id, 
        type: 'GET',
        contentType: 'application/json', 
        data: JSON.stringify(data),
        success: function(res) {
        
            const data = res.rows[0];
        
            $('#id').val(id);
            $("#name").val(data.name)
            $("#qty").val( data.qty)
            $("#description").val( data.description)

            append_customer(data.customer_id);
            append_dependent(data.dependent_id);


            if(data.FileData != "" && data.FileName != ""){
                var file = dataURLtoFile(data.FileData,data.FileName)
                //console.log(file.name);
                var photo_name = ""+file.name;
                var photo_size = ""+file.size;
                var photo_type = ""+file.type;

                append_photo(photo_name,photo_size,photo_type,data.file_id);
            }
         } // end ajax
    });//end ajax
}//end function 

function append_customer(customer_selected){
    var data = {};
        $.ajax({
        url:"/api/customers/view",
        type: 'GET',
        dataType:'json',
        data: JSON.stringify(data),
        success: function(res) {
         
            var temp = "";
           
                $.each(res.rows,function(index,data){
                    temp += '<option value="'+data.customer_id+'">'+data.full_name+'</option>'      
                })
                $("#customer_id").append(temp);
                $("#customer_id").val(customer_selected);
           
                //alert('task sucessfull');
            },
        error:function(res){
            alert('server error occured');
        }
    });//end ajax
} //function

function append_dependent(dependent_selected){
    var data = {};
        $.ajax({
        url:"/api/dependent/view",
        type: 'GET',
        dataType:'json',
        data: JSON.stringify(data),
        success: function(res) {
        
            var temp = "";

                $.each(res.rows,function(index,data){
                    temp += '<option value="'+data.dependent_id+'">'+data.full_name+'</option>'      
                })
                $("#dependent_id").append(temp);
                $("#dependent_id").val(dependent_selected);
       
                //alert('Sucessfull');
            },
        error:function(res){
            alert('server error occured');
        }
    });//end ajax
} //function

function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
       }
    return false;
}//end function

const toBase64 = file => new Promise((resolve, reject) => {
	    const reader = new FileReader();
	    reader.readAsDataURL(file);
	    reader.onload = () => resolve(reader.result);
	    reader.onerror = error => reject(error);
	});

function append_photo(name,size,type,image_id){
           
        var description = '<span>1 files were chosen</span>'
        var temp = '<div class="jFiler-items jFiler-row">'
            temp += '<ul class="jFiler-items-list jFiler-items-default">'
            temp +=' <li class="jFiler-item" data-jfiler-index="0" style="">'
            temp += '<div class="jFiler-item-container">'
            temp +=  '<div class="jFiler-item-inner">'
            temp +=           '<div class="jFiler-item-icon pull-left">'
            temp +=                '<i class="icon-jfi-file-o jfi-file-type-image jfi-file-ext-jpg"></i>'
            temp +=   ' </div>'
            temp +=    '<div class="jFiler-item-info pull-left">'
            temp +=          '  <div class="jFiler-item-title" title="'+name+'">'+name+'</div>'
            temp +=           ' <div class="jFiler-item-others"> '
            temp +=                '<span>size: '+size+'</span>'
            temp +=               ' <span>type: '+type+'</span>'
            temp +=               ' <span class="jFiler-item-status"></span>'
            temp +=           ' </div>'
            temp +=   ' <div class="jFiler-item-assets">'
            temp +=           ' <ul class="list-inline">'
            temp +=               ' <li>'
            temp +=                  ' <a class="icon-jfi-trash jFiler-item-trash-action" id="detele_old" name="'+image_id+'"></a>'
            temp +=                '</li>'
            temp +=            '</ul>'
            temp +=   ' </div>'
            temp +=     ' </div>'
            temp +=    '</div>'
            temp += '</div>'
            temp += '</li></div></ul>'


   
        $('.jFiler-input').after(temp);
        $('.jFiler-input-caption').html(description);
   
      //  $('ul.jFiler-items-list').append(temp);


    }

function dataURLtoFile(dataurl, filename) {
		var arr = dataurl.split(','),
		mime = arr[0].match(/:(.*?);/)[1],
		bstr = atob(arr[1]), 
		n = bstr.length, 
		u8arr = new Uint8Array(n);
		
		while(n--){
		u8arr[n] = bstr.charCodeAt(n);
		}
    return new File([u8arr], filename, {type:mime});
    }

const resizeImage = (base64Str) => {
    return new Promise((resolve) => {
        let img = new Image()
        img.src = base64Str
        img.onload = () => {
        let canvas = document.createElement('canvas')
        const MAX_WIDTH = 300;
        const MAX_HEIGHT = 300;
        let width = img.width
        let height = img.height

        if (width > height) {
            if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width
            width = MAX_WIDTH
            }
        } else {
            if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height
            height = MAX_HEIGHT
            }
        }
        canvas.width = width
        canvas.height = height
        let ctx = canvas.getContext('2d')
        ctx.drawImage(img, 0, 0, width, height)
        resolve(canvas.toDataURL())
        }
    })
    }    

function delete_file(id){

       $.ajax({
          url:'/api/customers/delete_file/'+id,
          type:"GET",
          contentType:"application/json",
          dataType:"json",
          data:{'id':id},
          success:function(res){
				    
          }
        })
   }

</script>
